<div class="text-center mt-6">
<h1>Uh oh! It looks like something went wrong.</h1>
<p class="mt-5">please complete the registration through <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLqPImBAPJ2yCQrxyE6om14JfDn1lN_ACwoFEmaebVgR67tA/viewform?usp=sf_link">this google form</a> instead</p>
</div>
