<div class="signups">
  <h1>Total: <%= length @signups %></h1>
  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>School</th>
    <th>Grade</th>
    <th>Email</th>
  </tr>
  <%= for signup <- @signups do %>
    <tr>
      <td><%= signup.first_name %></td>
      <td><%= signup.last_name %></td>
      <td><%= signup.school %></td>
      <td><%= signup.grade %></td>
      <td><%= signup.email %></td>
    </tr>
  <% end %>
  </table>
</div>
