@each $color, $value in $theme-colors {
  .btn-text-#{$color} {
    color: map_get($theme-colors, $color);
    font-weight: bold;
  }
}
@each $color, $value in $colors {
  .btn-text-#{$color} {
    color: map_get($colors, $color);
    font-weight: bold;
  }
}
@each $color, $value in $colors {
  .text-#{$color} {
    color: map_get($colors, $color);
  }
}
@each $color, $value in $colors {
  .bg-#{$color} {
    background: map_get($colors, $color);
  }
}

.display-1 {
  font-size: 7rem;
}

// FIXES

button {
  cursor: pointer;
}

button, input {
  border: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
  background-color: transparent;
}

button, input, label, img {
  display: block;
}

.d-flex, .row {
  & > * {
    margin-bottom: 0;
  }
}

ul {
  padding-left: 0;
  > * {
    list-style: none;
  }
}

// STYLES
a {
  color: map_get($colors, "purple");
  &:hover {
    color: map_get($colors, "purple-dark");
  }
}

.text-shadow-dark {
  text-shadow: 5px 5px black;
}

.font-muli {
  font-family: Muli;
}
.font-chicago {
  font-family: Chicago;
  &, & * {
    line-height: 1.2;
  }
}

// fix for weird x overflow (maybe because of .stretch)
html, body {
  overflow-x: hidden;
}

code {
  background: #F5F5F5;
  box-shadow: 0 4px hsl(0, 0, 75);
  display: block;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-family: Hermit;
  font-size: $font-size-sm;
  span.p {
    color: map_get($colors, "purple-dark");
  }
  span.y {
    color: map_get($colors, "yellow-dark");
  }
  margin-top: 2rem;
}

// https://css-tricks.com/full-width-containers-limited-width-parents/
.stretch {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

section {
  margin-bottom: 13rem;
}

.pre {
  white-space: pre-wrap;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-m-5 {
  margin-top: -7rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mr-7 {
  margin-right: 7rem;
}
