@import url('https://fonts.googleapis.com/css?family=Karla|Muli');
@import './fonts/stylesheet.css';

$font-family-base: Karla;

$gray-150: hsl(0, 0, 95%);

$primary: hsl(201, 87%, 54%);
$primary-light: hsl(201, 100%, 84%);
$danger: hsl(0, 100%, 42%);
$success: hsl(158, 68%, 45%);

$colors: (
  "red-light": #FF98AB,
  "purple-light": #E7EAFF,
  "red": #FF5959,
  "green": #59FF91,
  "purple": #717EF0,
  "blue": #3705FF,
  "orange": #FF9B3F,
  "grey": #E9E9E9,
  "purple-dark": #4341CA,
  "yellow-dark": #CA8B41,
  "pink": #FF4B6C,
  "black": black,
);

$theme-colors: (
  "primary-light": $primary-light,
);

$text-muted: hsl(0, 0, 70%);
$headings-line-height: 1.6;

$font-size-base: 1.5rem;

$h3-font-size: 4rem;
$h2-font-size: 6rem;
$h1-font-size: 7rem;

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";

@each $color, $value in $theme-colors {
  .btn-text-#{$color} {
    color: map_get($theme-colors, $color);
    font-weight: bold;
  }
}
@each $color, $value in $colors {
  .btn-text-#{$color} {
    color: map_get($colors, $color);
    font-weight: bold;
  }
}
@each $color, $value in $colors {
  .text-#{$color} {
    color: map_get($colors, $color);
  }
}
@each $color, $value in $colors {
  .bg-#{$color} {
    background: map_get($colors, $color);
  }
}

.display-1 {
  font-size: 7rem;
}

// FIXES

button {
  cursor: pointer;
}

button, input {
  border: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
  background-color: transparent;
}

button, input, label, img {
  display: block;
}

.d-flex, .row {
  & > * {
    margin-bottom: 0;
  }
}

ul {
  padding-left: 0;
  > * {
    list-style: none;
  }
}

// STYLES
a {
  color: map_get($colors, "purple");
  &:hover {
    color: map_get($colors, "purple-dark");
  }
}

.h2-section {
  font-family: Chicago;
  text-align: center;
  font-size: 10rem;
}

.text-shadow-dark {
  text-shadow: 5px 5px black;
}

.font-muli {
  font-family: Muli;
}
.font-chicago {
  font-family: Chicago;
  &, & * {
    line-height: 1.2;
  }
}

// fix for weird x overflow (maybe because of .stretch)
html, body {
  overflow-x: hidden;
}

code {
  background: #F5F5F5;
  box-shadow: 0 4px hsl(0, 0, 75);
  display: block;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-family: Hermit;
  font-size: $font-size-sm;
  span.p {
    color: map_get($colors, "purple-dark");
  }
  span.y {
    color: map_get($colors, "yellow-dark");
  }
  margin-top: 2rem;
}

// https://css-tricks.com/full-width-containers-limited-width-parents/
.stretch {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

section {
  margin-bottom: 13rem;
}

.pre {
  white-space: pre-wrap;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-m-5 {
  margin-top: -7rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mr-7 {
  margin-right: 7rem;
}

.cw__button {
  background: black;
  padding: 1rem 1rem;
  font-family: Chicago;
  box-shadow: 10px 10px white;
  margin: 4rem auto;

  > * {
    color: white;
    font-size: $h3-font-size;
  }
}

.root__circle {
  width: 700px;
  height: 700px;
  margin-left: 5%;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  background: map_get($colors, "purple-light");
}

.button-formal {
  border: 2px solid map_get($colors, "purple");
  border-radius: 5px;
  color: map_get($colors, "purple");
  font-family: Chicago;
  padding: 5px 10px;
}

.events__interest, .footer__interest {
  @extend .button-formal;

  max-width: 400px;
  display: flex;

  // fix for element sticking out on firefox
  justify-content: space-around;
  box-sizing: content-box;

  .input {
    flex: 1;
    color: black;
  }
  .submit {
    color: map_get($colors, "purple");
  }
}

.footer__interest {
  max-width: unset;
}

.clubs__pack {
  font-family: Chicago;
  background: map_get($colors, "pink");
  width: 300px;
  box-shadow: 0 15px black;
  color: black;
  font-size: $h4-font-size;
  text-align: center;
  padding: 10px 20px;
}

.clubs__vine {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .stem {
    @extend .stretch;
    height: 20px;
    background: map_get($colors, "blue");
    position: absolute;
    margin-top: 100px;
  }

  .cherry {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: map_get($colors, "pink");
      border-radius: 100%;
      text-align: center;
    }
    p {
      align-self: center;
      z-index: 3;
    }
    &.side {
      z-index: 2;
    }
    &.middle {
      z-index: -1;
      margin-top: 70px;
    }
  }
}
