@import url("https://fonts.googleapis.com/css?family=Karla|Muli");
@import "./fonts/chicago.css";
@import "./fonts/hermit.css";

$font-family-sans-serif: Karla;

$colors: (
  "red-light": #FF98AB,
  "purple-light": #E7EAFF,
  "red": #FF5959,
  "green": #59FF91,
  "purple": #717EF0,
  "blue": #3705FF,
  "orange": #FF9B3F,
  "grey": #E9E9E9,
  "purple-dark": #4341CA,
  "yellow-dark": #CA8B41,
  "pink": #FF4B6C,
  "black": black,
);

$text-muted: hsl(0, 0, 70%);
$headings-line-height: 1.6;

$font-size-base: 1.5rem;

$h3-font-size: 4rem;
$h2-font-size: 6rem;
$h1-font-size: 7rem;

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "./app";

section {
  margin-bottom: 13rem;
}

.h2-section {
  font-family: Chicago;
  text-align: center;
  font-size: 10rem;
}

.cw__button {
  background: black;
  padding: 1rem 1rem;
  font-family: Chicago;
  box-shadow: 10px 10px white;
  margin: 4rem auto;

  > * {
    color: white;
    font-size: $h3-font-size;
  }
}

.root__circle {
  width: 700px;
  height: 700px;
  margin-left: 5%;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  background: map_get($colors, "purple-light");
}

.button-formal {
  border: 2px solid map_get($colors, "purple");
  border-radius: 5px;
  color: map_get($colors, "purple");
  font-family: Chicago;
  padding: 5px 10px;
}

.subscriber-form {
  .form {
    @extend .button-formal;
    .submit {
      color: map_get($colors, "purple");
    }
  }
}

.footer__interest .form {
  max-width: unset;
}

.clubs__pack {
  font-family: Chicago;
  background: map_get($colors, "pink");
  width: 300px;
  box-shadow: 0 15px black;
  color: black;
  font-size: $h4-font-size;
  text-align: center;
  padding: 10px 20px;
}

.clubs__vine {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .stem {
    @extend .stretch;
    height: 20px;
    background: map_get($colors, "blue");
    position: absolute;
    margin-top: 100px;
  }

  .cherry {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: map_get($colors, "pink");
      border-radius: 100%;
      text-align: center;
    }
    p {
      align-self: center;
      z-index: 3;
    }
    &.side {
      z-index: 2;
    }
    &.middle {
      z-index: -1;
      margin-top: 70px;
    }
  }
}
