@import url("https://fonts.googleapis.com/css?family=Karla|Muli");
@import "./fonts/chicago.css";
@import "./fonts/hermit.css";
 
$font-family-sans-serif: Karla;

$colors: (
  "red-light": #FF98AB,
  "purple-light": #E7EAFF,
  "red": #FF5959,
  "green": #59FF91,
  "purple": #717EF0,
  "blue": #3705FF,
  "orange": #FF9B3F,
  "grey": #E9E9E9,
  "purple-dark": #4341CA,
  "yellow-dark": #CA8B41,
  "pink": #FF4B6C,
  "black": black,
);

$text-muted: hsl(0, 0, 70%);
$headings-line-height: 1.6;

$font-size-base: 1.5rem;

$h3-font-size: 4rem;
$h2-font-size: 6rem;
$h1-font-size: 7rem;

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./app";

section {
  margin-bottom: 13rem;
}

.h2-section {
  font-family: Chicago;
  text-align: center;
  font-size: 10rem;
}

workshops__chris{
  width: 25%;
}

.cw__button {
  background: black;
  padding: 1rem 1rem;
  font-family: Chicago;
  box-shadow: 10px 10px white;
  margin: 4rem auto;

  > * {
    color: white;
    font-size: $h3-font-size;
  }
}

.root__circle {
  width: 700px;
  height: 700px;
  margin-left: 5%;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  background: map_get($colors, "purple-light");
}

.button-formal {
  border: 2px solid map_get($colors, "purple");
  border-radius: 5px;
  color: map_get($colors, "purple");
  font-family: Chicago;
  padding: 5px 10px;
}

.subscriber-form {
  .form {
    @extend .button-formal;
    .submit {
      color: map_get($colors, "purple");
    }
  }
}

.footer__interest .form {
  max-width: unset;
}

.clubs__pack {
  font-family: Chicago;
  background: map_get($colors, "pink");
  width: 300px;
  box-shadow: 0 15px black;
  color: black;
  font-size: $h4-font-size;
  text-align: center;
  padding: 10px 20px;
}

.clubs__vine {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .stem {
    @extend .stretch;
    height: 20px;
    background: map_get($colors, "blue");
    position: absolute;
    margin-top: 100px;
  }

  .cherry {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: map_get($colors, "pink");
      border-radius: 100%;
      text-align: center;
    }
    p {
      align-self: center;
      z-index: 3;
    }
    &.side {
      z-index: 2;
    }
    &.middle {
      z-index: -1;
      margin-top: 70px;
    }
  }

  .bottom__contact {
    width: 50%;
  }
}

@include media-breakpoint-down(sm) {
  section {
    margin-bottom: 5rem;
  }

  .h2-section {
    font-size: 4rem;
    margin-top: -3rem;
  }

  .codeathon__text {
    font-size: 3rem;
    margin-top: -3rem;
  }

  .workshops__chris {
    width: 50%;
  }

  .cw__button {
    font-size:1.5rem;
  }

  /*should be in app.scss*/
  .display-1 {
    font-size: 3.5rem;
  }
  
  p {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .bottom__contact{
    width: 90%;
  }

  .mt-7 {
    margin-top: 3rem;
  }
  
  //too hard to display code on mobile
  pre {
    display:none
  }
  
  .subscriber-form {
    .form {
      .submit {
        color: map_get($colors, "purple");
        font-size: 1rem;
      }
    }
  }


  .codeathon-img {
    width: 100%;
  }


  .cw__button {
    padding: 1rem 1rem;
    box-shadow: 10px 10px white;
    margin: 4rem auto;

    > * {
      font-size: $h3-font-size;
    }
  }

  .root__circle {
    width: 350px;
    height: 350px;
    margin-left: 5%;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
  }

  .button-formal {
    border-radius: 5px;
    padding: 5px 10px;
  }

  .footer__interest .form {
    max-width: unset;
  }

  .clubs__pack {
    width: 150px;
    box-shadow: 0 15px black;
    color: black;
    font-size: $h4-font-size/2;
    padding: 10px 20px;
  }

  .clubs__top {
    font-size: $h3-font-size/2;
  }

  .clubs__bottom {
    font-size: $h4-font-size/2;
  }

  .clubs__vine {
    width: 100%;

    .stem {
      height: 10px;
      margin-top: 90px;
    }

    .cherry {
      width: 100px;
      height: 100px;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: map_get($colors, "pink");
        border-radius: 100%;
        text-align: center;
      }
      p {
        font-size: .85rem;
        align-self: center;
        z-index: 3;
      }
      &.side {
        z-index: 2;
      }
      &.middle {
        z-index: -1;
        margin-top: 80px;
      }
    }
  }
  .pre {
    display: none;
  }
}
