@import './jonesjam.scss';
@import "./fonts/hermit.css";

code {
  font-family: Hermit;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: hsl(0, 0%, 60%);
}
