@import './fonts/pixellari.css';

$font-family-base: Pixellari;

$colors: (
        "purple": #C8C7FF,
        "pink": #C8537B,
        "light-pink": #FEF5F8,
        "blue": #467FA6,
);

$h2-font-size: 3rem;
$font-size-base: 2.5rem;

$spacers: (
        6: 5rem,
        7: 10rem,
);

$sizes: (
        60: 60%
);

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./app.scss";

body {
  background-image: url("/images/jonesjam/background.svg");
  background-repeat: repeat;
  padding-top: 5rem;
}

section {
  margin-bottom: 4rem;
}

.signup {
  padding: 2rem;
  background: white;
  box-shadow: -5px 10px map_get($colors, "pink");

  .form {
    width: 75%;
    margin: auto;
  }

  input, button {
    background: map_get($colors, "purple");
    max-width: 80%;
    margin: 1rem auto;
    padding: 0 0.5rem;

    img {
      width: 2rem;
      vertical-align: initial;
    }
  }

  button {
    padding-top: 0.3rem;
  }
}

.schedule ul {
  display: inline-block;
  text-align: left;
  line-height: 2rem;

  .time {
    background: map_get($colors, "pink");
    color: white;
    margin-right: 1rem;
    padding: 0.2rem 0.5rem;
  }

  > * {
    margin-top: 1.5rem;
  }
}

.subheading {
  margin-left: 1rem;
}

@include media-breakpoint-down(lg) {
  body {
    font-size: 2rem;
  }
}

@include media-breakpoint-down(md) {
  .signup .form {
    width: 100%;

    input {
      width: 100%;
    }

    button {
      width: 75%;
    }
  }
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 2.5rem;
  }

  .header-image {
    width: 50%;
  }

  .signup .form {
    input {
      margin: 0.5rem auto;
    }
  }

  .github {
    width: 50%;
  }
}

@include media-breakpoint-down(xs) {
  html {
    font-size: 60%;
  }

  .signup {
    margin: 0.5rem;
  }

  footer {
    margin: 1rem !important;
  }
}
