@import './fonts/chicago.css';
@import './fonts/helvetica.css';

$headings-font-family: Chicago;

$colors: (
  "red": #FF3B50,
  "yellow": #F3E45C,
  "purple": #6461FF,
  "light-red": #FF6172,
  "light-yellow": #FFDD9B,
  "light-purple": #C8C7FF,
  "dark-yellow": #F2C215,
  "black": black,
  "white": white,
);
 
$h1-font-size: 6rem;
$h2-font-size: 3rem;
$h3-font-size: 3rem;
$h4-font-size: 1.5rem;

$spacers: (
  6: 5rem,
  7: 10rem,
);

$sizes: (
  60: 60%
);

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./app.scss";

.family-helvetica {
  font-family: Helvetica;
}

.container {
  position: relative;
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
}

body {
  font-family: Chicago;
}

.sm-shadow {
  box-shadow: -4px 5px 0 black;
}

.lg-shadow {
  box-shadow: -4px 11px 0 black;
}

section {
  margin-top: 4rem;
  text-align: center;

  h3 {
    margin-top: 10rem;
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

p {
  font-size: 1.5rem;
}

button img {
  display: inline-block;
}

.w-80 {
  width: 80%;
}

.interest-box {
  display: inline-block;
  padding: 8px;
  border: 5px solid black;
  border-radius: 5px;

  .form {
    background: hsl(0, 0%, 95%);
    margin: auto;
    padding: 5px;
  }
}

.character-form {
  margin: auto;
  width: 70%;

  input, button {
    @extend .sm-shadow;
    margin: auto;
    background: map_get($colors, "light-purple");
    padding: 0.4rem 0.5rem;
    color: black;
  }

  .row {
    margin-bottom: 1rem;
  }

  button {
    img {
      vertical-align: text-bottom;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }

  input {
    width: 75%; // fix for number input being small
  }
}

.floating-image {
  position: absolute;
  &.left {
    left: 0;
    margin-left: 3rem;
  }
  &.right {
    right: 0;
    margin-right: 3rem;
  }
}


.schedule {
  font-size: $h4-font-size;
  display: inline-block;
  text-align: left;
  line-height: 2rem;

  .time {
    @extend .sm-shadow;
    background: map_get($colors, "light-red");
    color: white;
    margin-right: 1rem;
    padding: 0.2rem 0.5rem;
  }

  > * {
    margin-bottom: 1.5rem;
  }
}

#character {
  width: 100%;
  max-width: 500px;
}

.header-image {
  width: 400px;
}

.header {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

label {

  input[type="radio"] {
    display:none;
  }

  span {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
    background-color: white;
    border-radius: 100%;
    border: 3px solid black;
  }

  input[type="radio"]:checked + span {
    background-color: map_get($colors, "light-purple") 
  }
}

@include media-breakpoint-down(sm) {
  //because boostrap doesn't support responsive font-size
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  li {
    font-size: 1rem;
  }

  .header-image {
    width: 250px;
  }

  .header {
    margin-top: 10vh;
    margin-bottom: 5vh; 
  }
  
  .row {
    margin-bottom: 0;
  }

  .col-sm {
    margin-bottom: 10px; 
  }

  .npc-img {
    margin-top: -7rem;  
  }
}
