@import './fonts/chicago.css';
@import './fonts/helvetica.css';

$headings-font-family: Chicago;

$colors: (
  "red": #FF0D27,
);

@import './app.scss';

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

.interest-box {
  display: inline-block;
  padding: 8px;
  border: 5px solid black;
  border-radius: 5px;

  .form {
    background: hsl(0, 0%, 95%);
    margin: auto;
    padding: 5px;
  }
}
