<title>Chicode</title>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@chicode" />
<meta property="og:url" content="https://chicode.org" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Chicode" />
<meta property="og:description" content="A coding organization by CPS students, for CPS students." />
