<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title><%= @conn.assigns.site %></title>
  <link rel="stylesheet" href="<%= webpack_path(@conn, "css") %>">
</head>
<body>
  <div class="text-center mt-6">
    <%= if @type == 404 do %>
    <h1>Page not found.</h1>
    <% else %>
    <h1>Uh oh, we messed up. Please check back soon.</h1>
    <p class="mt-5">Does this keep happening? <a href="mailto:jonesjam@chicode.org">Send us an email!</a></p>
    <% end %>

    <a href="/">home</a>
  </div>
</body>
</html>

