<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render @view_module, "meta.html", assigns %>

  <title><%= assigns.site %></title>
  <link rel="stylesheet" href="<%= webpack_path(@conn, "css") %>">
</head>
<body>
  <div id="root">
    <%= render @view_module, @view_template, assigns %>
  </div>
  <script src="https://browser.sentry-cdn.com/4.5.1/bundle.min.js" crossorigin="anonymous"></script>
  <script>Sentry.init({ dsn: 'https://3868d4554ea9439ca7a71e2a3a7eedda@sentry.io/1374061' })</script>
  <script src="<%= webpack_path(@conn, "js") %>"></script>
</body>
</html>
