<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render @view_module, "meta.html", assigns %>

  <title><%= assigns.site %></title>
  <link rel="stylesheet" href="<%= webpack_path(@conn, "css") %>">
</head>
<body>
  <div id="root">
    <%= render @view_module, @view_template, assigns %>
  </div>
  <script src="<%= webpack_path(@conn, "js") %>"></script>
</body>
</html>
