<div class="container">

  <header class="d-flex flex-row mx-auto w-100 justify-content-between align-items-center">
    <img src="<%=image(@conn, "title-short.svg")%>">
    <a href="/team">Team</a>
    <a href="/voting">Voting</a>
    <a href="/sign-out">
      Sign out (<%= @email %>)
  </a>
  </header>
  
  <section>
  </section>

  <section>
  </section>

</div>
